body, h1, h2, ul {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  --primary-color: mediumblue;
  --secondary-color: salmon;
  --illustration-color-1: royalblue;
  --illustration-color-2: pink;
  --background-color: lightgoldenrodyellow;
  --text-color: rgba(0,0,0,0.88);
  --secondary-text-color: rgba(0,0,0,0.64);
}

body {
  background-color: var(--background-color);
  padding: 2.5vw;
}

em {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  letter-spacing: 0.125ch;
  padding: 0 0.125rem;
  color: var(--primary-color);
}

section {
  background-color: white;
  padding: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.136917);
}

section h2 {
  margin-bottom: 1rem;
}

section li {
  margin-bottom: 0.75rem;
  line-height: 1.5em;
}

/* ILLUSTRATIONS -------------------- */

.illustration {
  margin-bottom: 2rem;
}

.terminology .labels {
  border-top: 0.125rem dotted var(--secondary-text-color);
  border-left: 0.125rem dotted var(--secondary-text-color);
  padding: 2rem;
  position: relative;
}

.terminology .labels::after {
  content:'main size';
  display: inline-block;
  background: white;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.terminology .labels::before {
  content:'cross size';
  display: inline-block;
  background: white;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.flex-container {
  background-color: var(--illustration-color-2);
  display: flex;
  padding: 1.5rem;
  position: relative;
}

.flex-container.column {
  flex-direction: column;
}

.flex-container.row-reverse {
  flex-direction: row-reverse;
}

.flex-container.column-reverse {
  flex-direction: column-reverse;
}

.terminology .flex-container::before,
.flex-direction-overview .flex-container.row::before,
.flex-direction-overview .flex-container.column::before {
  content: 'main axis';
  color: var(--primary-color);
  border-bottom: 0.125rem solid var(--primary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.flex-direction-overview .flex-container.column::before {
  content: 'cross axis' !important;
  color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

.terminology .flex-container::after,
.flex-direction-overview .flex-container.row::after,
.flex-direction-overview .flex-container.column::after {
  content: 'cross axis';
  color: var(--secondary-color);
  border-left: 0.125rem solid var(--secondary-color);
  position: absolute;
  top: 0;
  left: 75%;
  padding-top: 1rem;
  padding-left: 0.25rem;
  height: 100%;
}

.flex-direction-overview .flex-container.column::after {
  content: 'main axis' !important;
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.flex-item {
  background-color: var(--illustration-color-1);
  padding: 1rem;
  color: white;
}

.flex-container.row .flex-item:not(:last-child) {
  margin-right: 0.5rem;
}

.flex-container.row-reverse .flex-item:not(:last-child) {
  margin-left: 0.5rem;
}

.flex-container.column .flex-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.flex-container.column-reverse .flex-item:not(:last-child) {
  margin-top: 0.5rem;
}

.terminology .main-start, .terminology .main-end {
  position: absolute;
  top: 115%;
  color: var(--primary-color);
}

.terminology .main-start::before, .terminology .main-end::before {
  content: '';
  position: absolute;;
  height: 100%;
  top: -100%;
  border-left: 0.125rem dotted var(--primary-color);
}

.terminology .cross-start, .terminology .cross-end {
  position: absolute;
  left: 102%;
  color: var(--secondary-color);
}

.terminology .cross-start::before, .terminology .cross-end::before {
  content: '';
  position: absolute;;
  width: 50%;
  left: -50%;
  border-bottom: 0.125rem dotted var(--secondary-color);
}

.terminology .main-start::before {
  left: 0;
}

.terminology .main-end::before {
  right: 0;
}

.terminology .cross-start::before {
  top: 0;
}

.terminology .cross-end::before {
  bottom: 0;
}

.terminology .main-start {
  left: 0;
}

.terminology .main-end {
  right: 0;
}

.terminology .cross-start {
  top: 0;
}

.terminology .cross-end {
  bottom: 0;
}

.flex-direction-overview {
  display: flex;
  justify-content: space-evenly;
}

.flex-direction-overview>div {
  flex-grow: 1;
}

.flex-direction-overview>div:not(:last-child){
  margin-right: 1rem;
}

.flex-direction-overview .flex-container.column.column,
.flex-direction-overview .flex-container.column-reverse {
  min-height: 12rem;
}

/* UTILITIES -------------------- */

.text-center {
  text-align: center;
}